{% extends "layout.html" %}
{% block title %} Compra  {% endblock %}

{% block content %}
    {% if productos %}
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Detalle</th>
                    <th scope="col">Valor</th>
                </tr>
            </thead>
        <tbody>
        {% for producto, catidad, detalle in productos %}
            <tr>
                <td>{{ producto }}</td>
                <td>{{ detalle }}</td>
                <td>{{ catidad }}</td>
            </tr>
        {% endfor %}
        </tbody>


    {% endif %}

      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
</table>


{% endblock %}