{% extends "layout.html" %}
{% block title %}Login{% endblock %}

{% block content %}
    {% if error %}
        <p class="alert alert-danger"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
    <h1>Login</h1>

    <form method="post" style="text-align: center">
        <dl>
            <dt>Username:</dt>
            <dd><input type="text" name="username" value="{{
                    request.form.username}}"></dd>
            <dt>Password:</dt>
            <dd><input type="password" name="password"></dd>
        </dl>
    <p><input type="submit" value="login"></p>
    </form>
{% endblock %}