<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block style %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    {% endblock %}
</head>
<body>
    {% include "layouts/_header.html" %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for (category, message) in messages %}
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <div class="alert alert-{{ category }} alert-dismissable">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}

        {% block scripts %}
            <script src="{{ url_for('static', filename='js/lib/jquery-3.2.1.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
            <script type="text/javascript">
            var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            </script>
        {% endblock %}
    </div>
</body>
</html>